/* CSS dokumentum */

body {
	
	margin: 0% 25% 0% 30%;
	background-color:black;
	background-image: url(dgrey051.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	
}


.gitarb[class]{

        position: absolute;
	top:0px;
	left:10px;
        width:307px;
        height:201px;
        background-image : url('70gibsonsg.png');
        background-repeat : no-repeat;
}
.player {
	position: absolute;
	top:400px;
	left:30px;
}
.gitarb{
        filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='70gibsonsg.png');
        background-repeat : no-repeat;
}


.acdc{
        border: 5px groove #CCCCCC;
        position: absolute;
		top:-20px;
		left:750px;
        width:160px;
        height:240px;
        background-image : url('acdc.jpg');
        background-repeat : no-repeat;
}

.acdc2{
        border: 5px groove #CCCCCC;
        position: absolute;
		top:230px;
        left:750px;
	    width:151px;
        height:213px;
        background-image : url('acdc2.jpg');
        background-repeat : no-repeat;
}

.banner{
        position: absolute;
		top:650px;
		left: 30px;
		width:161;
}

.banner2{
        position: absolute;
		top:720px;
		left: 30px;
		width:161;
}

.banner3{
        position: absolute;
		top:790px;
		left: 30px;
		width:161;
}

.banner4{
        position: absolute;
		top:860px;
		left: 30px;
		width:161;
}
.banner5{
        position: absolute;
		top:960px;
		left: 30px;
		width:161;
}


.logo {
	position: absolute;
	top:20px;
	left:330px;
	
}


.player {
   position: absolute;
	top:200px;
	left:200px;
}
.menu {
    position: absolute;
	top:170px;
	left:30px;
	font-size:20px;
    height:340px;
	background-image: url(menu_BG.png);
	padding: 30px;
	font: 1em Arial;
	font-weight: bold;
	text-align:center; 
	width:120px;
	
}


.menu .info{
	position:relative;
	top :35px;
	font-size:9px;
	text-align:left;
	color: #777777;
	padding: 0px;
}

.menu a {
	padding: 5px;

	text-decoration: underline;
	color: #DDDDDD;
}

.menu a:hover {

	text-decoration: none;
	color: #888888;
}

.menu a.aktualis {
	border: 3px groove #222222;
	background-image: url(red064.gif);
	text-decoration: underline;
	color: #BBBBBB;
}

.menu a.aktualis:hover{

	text-decoration: none;
	color: #FFFFFF;
}

#fej {
	
	margin-left: auto;
	margin-right: 100px;
	position: absolute;
	top: 190px;
    left: 230px;
	background-image: url(bodybody.png);
	background-repeat: repeat;
	padding: 10px 5px 9.5px 5px;
	text-align:center; 
	font: 1em Arial;
	font-weight: bold;
	width:720px;
	}
#fejheader{
	
	margin-left: auto;
	margin-right: 100px;
	position: absolute;
	top: 171px;
    left: 230px;
	background-image: url(bodyheader.png);
	background-repeat: no-repeat;
	padding: 10px 5px 9.5px 5px;
	text-align:center; 
	font: 1em Arial;
	font-weight: bold;
	width:720px;
	}

#fejfooter {
	
	margin-left: auto;
	margin-right: 100px;
	position: relative;
	top: 118px;
    left: -55px;
	background-image: url(bodyfootr.png);
	background-repeat: no-repeat;
	padding: 10px 5px 9.5px 5px;
	text-align:center; 
	font: 1em Arial;
	font-weight: bold;
	width:720px;
	height:50px;
}

#fej a {
	padding: 5px;
	
	text-decoration: underline;
	color: #DDDDDD;
}

#fej a:hover {

	text-decoration: none;
	color: #888888;
}

#fej a.aktualis {
	border: 3px groove #222222;
	background-image: url(red064.gif);
	text-decoration: underline;
	color: #BBBBBB;
}

#fej a.aktualis:hover{
	
	text-decoration: none;
	color: #FFFFFF;
}

#tartalom {
	
    position: relative;
	top:10px;
    width:610px;
    /*background-color:#444444 ;*/
	padding: 50px;
	/*border: 5px groove #222222;*/
	color: #CCCCCC;
	font: 0.8em Arial;
	text-align:center; 
	font-weight: bold;
	
}




#cim {
	font-size:20px;
	
	}	
		

.kep{
border: 2px groove #CCCCCC;
}	
	
